@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto';
}

.navbar-brand {
  cursor: pointer;
  font-weight: 700;
}

.underline {   
  padding-top: 2em;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(0, 0, 0, 0.02);
}

.col-xs-6 {
  padding-right: 4em !important;
  padding-left: 2em !important;  
}

.text-drop {
  margin-top: 1.4em;
  font-size: 24px;
  font-weight: 700;
}

.container-fixed {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

.red {
  background-color: #FF3945;
}
.yellow {
  background-color: #FFC148;
}
.green {
  background-color: #03AB00;
}

.square {    
  height: 8em;
  line-height: 8em;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.dock > div > div {
  width: 50% !important;
  left: 50% !important;
  margin-left: -25%;
  top: 47% !important;
}

.dock > div > div > div {
  overflow: hidden !important;
}

.btn-learn-more {
  padding: 0;
  white-space: initial;
  padding: 0px 15px !important;
}

.calendar-component {
  position: absolute;
  bottom: 0;
  left: 60px;
}
.about-data {
  color:white;
}
.leaflet-container {
  z-index:-1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-control-zoom {
  z-index: 100000000 !important; /* was 1000 */
  }
.dockerClass {
  z-index: -100 !important;
}

.hoverButton{
  width: 25%;
  height: 30px;
  left: 37.5%;
  bottom: 1px;
  position: absolute;
  color: white;
  background-color: #3F3F3F;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: rgba(0, 0, 0, 0.87);
}

h2 {
  color: rgba(0, 0, 0, 0.541327) !important;
  font-weight: 900;
}

.scenario {
  margin-top: 5em;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
}

.dimmed {
  opacity: 0.4;
}

label {
  font-size: 12px !important;
}

form {
  padding: 5em;
}

input, input[type="range"] {
  margin-bottom: 3em !important;
  font-size: 16px !important;
  line-height: 24px !important;
  width: 31em !important;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

input[type="time"] {
  width: 6em !important;
}

input[type="date"] {
  width: 8em !important;
}


.leaflet-container {
  width: 50%;
  left: 50%;
  margin-left: -25%;
  height: 50%;
  margin-top: 20em;
  box-shadow: 5px 5px 50px #3F3F3F;
}

hr {
  margin-top: 6em !important;
  box-shadow: 0px -19px 38px rgba(0, 0, 0, 0.3), 0px -5px 12px rgba(0, 0, 0, 0.22);
}

.small > p{
  font-size: 18px !important;
}

p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.541327);
  line-height: 24px;
  margin-top: 1em !important;
  padding-left: 1em;
}

.navbar-brand {
  color: #9CE7FF !important;
}

.btn-unicef {
  color: #ffffff !important;
  background: #9CE7FF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  width: 125px;
}

.button-area {
  text-align: center;
}

.btn-nav {
  width: 224.44px;
  height: 87.67px;
  font-size: 24px;
  line-height: 28px;
  margin-top: 5em;
}

.right {
  position: absolute;
  right: 1em;
}

nav {
  height: 64px;
  background-color: #ffffff; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.navbar-bottom {
  
  background-color: #9CE7FF !important;
  margin: 0 !important;
  position: absolute !important;
  bottom: 0 !important;
  width: 100%;
}

.navbar-bottom  a {
  margin-right: 3em;
  color: #ffffff !important;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #9CE7FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #9CE7FF;
  cursor: pointer;
}